<head>
    
</head>
<body>
    <h1>Online shopping</h1>
    <table>
        <tr>
        <th>ID</th>
        <th>item name</th>
        <th>price</th>
    </tr>
        <tr>
            <td>100001</td>
            <td>coffee bean 200g</td>
            <td>$199</td>
        
        </tr>
        <tr>
            <td>100002</td>
            <td>distilled water 500ml/24btl</td>
            <td>$50</td>
        </tr>
        <tr>
            <td>100003</td>
            <td>coffee machine</td>
            <td>$5500</td>
        </tr>
        <tr>
            <td>100004</td>
            <td>fresh milk 2L</td>
            <td>$39</td>
        </tr>
        <tr>
            <td>100005</td>
            <td>brown sugar 500g</td>
            <td>$30</td>
        </tr>
    </table>
    <button onclick="count100001()">add 100001</button>
    <button onclick="count100002()">add 100002</button>
    <button onclick="count100003()">add 100003</button>
    <button onclick="count100004()">add 100004</button>
    <button onclick="count100005()">add 100005</button>
    
    <table>
        <tr>
            <th>ordered item ID</th>
            <th>no. of ordered</th>
            <th>price of ordered</th>
        </tr>
        <tr>
            <td>100001</td>
            <td id="ref100001"></td>
            <td id="price100001"></td>
        </tr>
        <tr>
            <td>100002</td>
            <td id="ref100002"></td>
            <td id="price100002"></td>
        </tr>
        <tr>
            <td>100003</td>
            <td id="ref100003"></td>
            <td id="price100003"></td>
        </tr>
        <tr>
            <td>100004</td>
            <td id="ref100004"></td>
            <td id="price100004"></td>
        </tr>
        <tr>
            <td>100005</td>
            <td id="ref100005"></td>
            <td id="price100005"></td>
        </tr>
    </table>
    
    total: $<span id="total"></span>
    
    <script>
    var no100001 = 0;
    var no100002 = 0;
    var no100003 = 0;
    var no100004 = 0;
    var no100005 = 0;
    
    var pri100001 = 0;
    var pri100002 = 0;
    var pri100003 = 0;
    var pri100004 = 0;
    var pri100005 = 0;
    
function count100001() {
    no100001++;
    document.getElementById("ref100001").innerHTML = no100001;
    pri100001 = no100001 *199;
    document.getElementById("price100001").innerHTML = pri100001;
    total();
}

function count100002() {
    no100002++;
    document.getElementById("ref100002").innerHTML = no100002;
    pri100002 = no100002 *50;
    document.getElementById("price100002").innerHTML = pri100002;
    total();
}

function count100003() {
    no100003++;
    document.getElementById("ref100003").innerHTML = no100003;
    pri100003 = no100003 *5500;
    document.getElementById("price100003").innerHTML = pri100003;
    total();
}
function count100004() {
    no100004++;
    document.getElementById("ref100004").innerHTML = no100004;
    pri100004 = no100004 *39;
    document.getElementById("price100004").innerHTML = pri100004;
    total();
}
function count100005() {
    no100005++;
    document.getElementById("ref100005").innerHTML = no100005;
    pri100005 = no100005 *30;
    document.getElementById("price100005").innerHTML = pri100005;
    total();
}

function total(){
    var temp = pri100001 + pri100002 + pri100003 + pri100004 + pri100005;
    document.getElementById("total").innerHTML = temp;
}
</script>
</body>